.contianer {
    height: 100vh;
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    box-sizing: border-box;
    position: relative;
}

.logo-images .logo1 {
    height: 60px;
    width: 60px;
}

.logo-images .logo1 img {
    width: 100%;
    height: 100%;
}

.header .menu {
    display: none;
}

.main-container {
    width: 94%;
    transition: width 0.3s ease;
}

.main-head {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}

.quick-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.quick-link ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
    font-size: 13px;
    font-weight: bolder;
}

.quick-link ul a {
    text-decoration: none;
    color: black;
}

.index {
    font-size: 14px;
}

.index h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile select {
    background-color: rgba(0, 0, 0, 0.664);
    color: rgba(255, 255, 255, 0.829);
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    outline: none;
}

#header-porfile {
    display: none;
}

@media screen and (max-width:768px) {
    .header {
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        row-gap: 5px;
    }

    .logo-images .logo1 {
        height: 60px;
        width: 60px;
    }

    .logo-images .logo1 img {
        width: 100%;
        height: 100%;
    }

    .quick-link ul {
        display: none;
    }

    .header-porfile {
        position: absolute;
    }

    .header .menu {
        display: block;
    }

    .header .menu span {
        font-size: 40px;

    }

    .main-container {
        width: 100%;
    }

    .main-head {
        padding: 10px;
        justify-content: space-between;
    }

    .profile {
        display: none;
    }

    #profile {
        display: flex;
    }

    #header-porfile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 5px;
    }

}