@import url("side-nav.css");
@import url("main-head.css");
@import url("main-body.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif !important;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}

.header .menu {
    display: none;
}

.logo-images {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.logo1 {
    width: 125px;
}

.logo2 {
    width: 200px;
}

.logo3 {
    width: 140px;
}

.logo-images img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


@media screen and (max-width:768px) {
    .header {
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        row-gap: 5px;
    }

    .logo-images {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    .header-porfile {
        position: absolute;
    }

    .header .menu {
        display: block;
    }

    .header .menu span {
        font-size: 40px;

    }
}